.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 24px 0 0 0;
  gap: 24px;
}

.back {
  width: 100%;
  text-align: center;
  line-height: 36px;
  font-size: 20px;
  font-weight: 700;
  color: #303030;
  cursor: pointer;
  user-select: none;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
}

.image {
  width: 300px;
  height: 300px;
  border-radius: 8px;
}

.title {
  margin: 12px 0 0 0;
  font-size: 24px;
  font-weight: 700;
  color: #303030;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.artist {
  margin: 4px 0 0 0;
  font-size: 16px;
  font-weight: 400;
  color: #757575;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.audio {
  margin: 12px 0 0 0;
}

@media only screen and (max-width: 600px) {
  .image {
    width: 200px;
    height: 200px;
  }
}
