.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 24px 0 0 0;
  gap: 24px;
}

.result {
  width: 100%;
  max-width: 640px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.item {
  display: flex;
  padding: 8px 16px 8px 8px;
  border: 3px solid #e7e7e7;
  border-radius: 4px;
  gap: 12px;
  cursor: pointer;
  user-select: none;
}

.image {
  width: 80px;
  height: 80px;
  border-radius: 4px;
}

.content {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  gap: 2px;
  min-width: 0;
}

.title {
  font-size: 20px;
  font-weight: 700;
  color: #303030;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.artist {
  font-size: 14px;
  font-weight: 400;
  color: #757575;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2px;
}

.playTime {
  font-size: 14px;
  font-weight: 400;
  color: #757575;
}

@media only screen and (max-width: 600px) {
  .image {
    width: 60px;
    height: 60px;
  }

  .title {
    font-size: 16px;
  }

  .artist {
    font-size: 12px;
  }
}
